# ignore generated object files
*.o
*.a
*.so
a.out

# ignore temp files
*.swap
*~
output.log
*.orig

# ignore ctags file
tags

# ignore executable files
benchmark/bench_BFS/bfs
benchmark/bench_DFS/dfs
benchmark/bench_degreeCentr/dc
benchmark/bench_connectedComp/connectedcomponent
benchmark/bench_betweennessCentr/bc
benchmark/bench_triangleCount/tc
benchmark/bench_shortestPath/sssp
benchmark/bench_kCore/kcore
benchmark/bench_graphUpdate/graphupdate
benchmark/bench_graphConstruct/graphconstruct
benchmark/bench_TopoMorph/topomorph
benchmark/bench_gibbsInference/bayes_net

benchmark/ubench_add/ubench_add
benchmark/ubench_delete/ubench_delete
benchmark/ubench_find/ubench_find
benchmark/ubench_traverse/ubench_traverse

gpu_bench/gpu_BFS/bfs_data_thread_centric
gpu_bench/gpu_BFS/bfs_data_warp_centric
gpu_bench/gpu_BFS/bfs_topo_atomic
gpu_bench/gpu_BFS/bfs_topo_frontier
gpu_bench/gpu_BFS/bfs_topo_thread_centric
gpu_bench/gpu_BFS/bfs_topo_unroll
gpu_bench/gpu_BFS/bfs_topo_warp_centric
gpu_bench/gpu_BetweennessCentr/betweenness
gpu_bench/gpu_ConnectedComp/connected_comp
gpu_bench/gpu_DegreeCentr/degree_centr
gpu_bench/gpu_GraphColoring/gc_data_thread_centric
gpu_bench/gpu_GraphColoring/gc_data_warp_centric
gpu_bench/gpu_GraphColoring/gc_topo_thread_centric
gpu_bench/gpu_GraphColoring/gc_topo_warp_centric
gpu_bench/gpu_SSSP/sssp_data_thread_centric
gpu_bench/gpu_SSSP/sssp_data_warp_centric
gpu_bench/gpu_SSSP/sssp_topo_thread_centric
gpu_bench/gpu_SSSP/sssp_topo_warp_centric
gpu_bench/gpu_TriangleCount/triangle_count
gpu_bench/gpu_kCore/kcore

csr_bench/csr_BFS/csr_bfs
csr_bench/csr_CComp/csr_cc
csr_bench/csr_DC/csr_dc
csr_bench/csr_GraphColoring/csr_graphcoloring
csr_bench/csr_SSSP/csr_sssp
csr_bench/csr_TC/csr_tc
csr_bench/csr_kCore/csr_kcore
csr_bench/tool_genCSR/genCSR

# ignore untar libpfm sources
tools/libpfm-4.5.0
tools/libpfm-4.6.0

